@font-face {
  font-family: MontLight;
  src: url(fonts/Montserrat/Montserrat-Light.ttf);
}

@font-face {
  font-family: MontLightItalic;
  src: url(fonts/Montserrat/Montserrat-LightItalic.ttf);
}

body {
  background-color: #000000;
  color: #FFFFFF
}

.navbar {
    text-align: center;
    margin-top: 50px;
    font-size: 25px;
    font-family: MontLight;

    list-style-type: none;
    color: white;
}

.navbar, li {
  position: relative;
  overflow: hidden;

  display:inline;
  text-align: center;

  font-size: 26px;
  margin: 20px;

  padding: 15px;
  transition: all .5s;
  cursor: pointer;

}

.navbar li:hover{
  border-color: ;
  background-color: #7a7a7a;
}
/* Ripple effect */
.navbar li:active {
  background-size: 100%;
  transition: background 0s;
}

#home-page-name {
  text-align: center;
  margin-top: 200px;
  font-size: 125px;

  font-family: MontLightItalic;

}

#intro {
  text-align: center;
  font-family: MontLight;
}

/*
#mainportrait{
  float: right;
  margin-top: 100px;
  margin-right: 25px;
  padding: 5px;
  width: 400px;

  border-radius: 100px;
}
*/
